apiVersion: v1
kind: ConfigMap
metadata:
  name: hub-templates
data:
  {{- (.Files.Glob "files/etc/jupyterhub/templates/*").AsConfig | nindent 2 }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: hub-external
data:
  {{- (.Files.Glob "files/static/external/css/*").AsConfig | nindent 2 }}
  {{- (.Files.Glob "files/static/external/js/*").AsConfig | nindent 2 }}
binaryData:
  {{- $root := . }}
  {{- range $path, $bytes := .Files.Glob "files/static/external/images/*" }}
  {{ base $path }}: '{{ $root.Files.Get $path | b64enc }}'
  {{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: user-etc-jupyter
data:
  {{- range $name, $content := .Values.etcJupyter }}
  {{- if eq (typeOf $content) "string" }}
  {{ $name }}: |
    {{- $content | nindent 4 }}
  {{- else }}
  {{ $name }}: {{ $content | toJson | quote }}
  {{- end }}
  {{- end }}
  {{- (.Files.Glob "files/etc/jupyter/*").AsConfig | nindent 2 }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: notebook-static-custom
data:
  {{- (.Files.Glob "files/static/custom/*").AsConfig | nindent 2 }}
  config.json: |
    {
      "ephemeral": {{ ternary "1" "0" (hasKey .Values.jupyterhub.singleuser.extraEnv "CONTAINER_LIFETIME") }},
      "lifetime": {{ .Values.jupyterhub.singleuser.extraEnv.CONTAINER_LIFETIME | default "" | quote }}
    }
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: aiidalab-uptime
data:
  aiidalab_uptime.json: |
    {
      "NotebookApp": {
        "nbserver_extensions": {
          "notebook.static.custom.aiidalab_uptime": true
        }
      }
    }
