{% extends "templates/spawn_pending.html" %}

{% block message %}
<p>Your AiiDAlab server is starting up.</p>
<p>If this is the first time you are using it, it may take a ~2 minutes to set up the app and your user account. Don't worry! It will be faster the next times the app will start.</p>
<p>While you wait, you can take a look at our <a href="https://www.youtube.com/watch?v=x4mWFjSoAO4">introduction video</a>, or maybe you can have an espresso coffee &#9749; before you dive in Quantum ESPRESSO &#x1F61C;</p>
<p>You will be redirected automatically when it's ready for you.</p>
<p>Please note: if the server does not start successfully, it may be the case that we cannot allocate more users, for now. Please try again later.</p>
{% endblock %}
