{% extends "templates/spawn_pending.html" %}

<!---->
{% block stylesheet %}
<!---->
{{ super() }}
<link rel="stylesheet" href="/hub/static/external/spawn.css" type="text/css" />
{% endblock %}

<!---->
{% block message %}
<div class="spawn-pending">
  <p>Your AiiDAlab server is starting up.</p>
  <p>
    If this is your first time, it may take ~2 minutes to set up your account.
    Subsequent logins will be faster.
  </p>
  <p>
    While you wait, consider enjoying an espresso &#9749; and watching our
    <a href="https://www.youtube.com/watch?v=x4mWFjSoAO4">introductory video</a
    >.
  </p>
  <p>
    You will be redirected automatically to the AiiDAlab homepage when it's
    ready for you.
  </p>
  <p>
    <b>Please note:</b> if the server does not start successfully, it may be the
    case that we cannot allocate more users at the moment. Please try again
    later.
  </p>
</div>
{% endblock %}
