html,
body {
  height: 100%;
}

#bg-graph-canvas {
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
}

a {
  color: #a94442;
}

#login-page {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 1100px;
  margin: auto;
  font-family: "segoe ui", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  padding: 2rem;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}

#brand-logo {
  padding: 0;
  text-align: center;
}

#brand-logo img {
  width: 100%;
  max-width: 1000px;
}

#title h1 {
  font-size: 40px;
  margin: 0;
}

#login-button {
  margin: 0 auto;
}

#login-main {
  width: auto;
  height: unset;
  display: flex;
  justify-content: center;
}

#login-main .service-login {
  margin: 0;
}

#insecure-login-warning {
  display: none;
}

#warning-banner {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0 0 5px #fcf8e3;
  width: fit-content;
  font-size: 16px;
}

#warning-label {
  margin-top: 0;
}

#platform-information {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.info-box {
  width: fit-content;
  box-shadow: 1px 1px 10px #f5f5f5;
  padding: 3rem;
  background-color: #f5f5f5;
  border-radius: 2rem;
}

.section-header {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.section-header h2,
.section-header i {
  margin-top: 0;
  font-size: 28px;
}

#aiidalab-icon {
  background: url("/hub/static/external/aiidalab-icon.svg");
  background-size: cover;
  width: 28px;
  height: 24px;
  display: inline-block;
}

#aiida-icon {
  background: url("/hub/static/external/aiida-icon.svg");
  background-size: cover;
  width: 24px;
  height: 24px;
  display: inline-block;
}

#resource-list {
  list-style: none;
  padding-left: 2px;
  white-space: nowrap;
}

.resource-item {
  margin-bottom: 5px;
}

.resource-item i {
  margin-right: 5px;
}

#quantum-espresso,
#faq,
#acknowledgement {
  max-width: 700px;
  margin: 0 auto;
}

#quantum-espresso .section-header {
  justify-content: center;
}

#faq ul {
  margin-bottom: 0;
}

#acknowledgement {
  font-size: 15px;
}

#acknowledgement hr:first-child {
  margin-top: 0;
}

#acknowledgement hr:last-child {
  margin-bottom: 0;
}

#citations p:first-child {
  margin-bottom: 4px;
}

#citations ul {
  font-size: 14px;
}

#sponsors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

#sponsors img {
  width: 50%;
}

footer {
  text-align: center;
}

@media (max-width: 992px) {
  #platform-information {
    flex-direction: column;
  }

  #quantum-espresso,
  #faq {
    max-width: unset;
  }
}
